<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uy.infocorp.banking.glass">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_ic"
        android:label="@string/app_name">

        <!-- Dialog -->
        <activity android:name=".util.view.dialog.DialogActivity" />
        <!-- /Dialog -->

        <!-- Estimote beacon service -->
        <service
            android:name="com.estimote.sdk.service.BeaconService"
            android:exported="false" />
        <!-- /Estimote beacon service -->

        <!-- Exchange rates -->
        <activity android:name=".controller.exchange.ExchangeRateMenuActivity" />

        <service
            android:name=".controller.exchange.ExchangeRateService"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:label="@string/title_activity_exchange_rate_service">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/exchange_rate_voice_trigger" />
        </service>
        <!-- /Exchange rates -->


        <!-- Benefits -->
        <activity android:name=".controller.benefit.BenefitsMenuActivity" />

        <service
            android:name=".controller.benefit.BenefitsService"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:label="@string/show_me_benefits">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/benefits_voice_trigger" />
        </service>
        <!-- Benefits -->


        <!-- Closest ATMs -->
        <activity
            android:name=".controller.atm.ClosestAtmActivity"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:immersive="true"
            android:label="@string/find_place_atm">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/find_place_voice_trigger" />
        </activity>
        <!-- Closest ATMs -->

        <!-- Closest branches -->
        <activity
            android:name=".controller.branch.ClosestBranchActivity"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:immersive="true"
            android:label="@string/find_place_branch">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/find_place_voice_trigger" />
        </activity>
        <!-- /Closest branches -->

        <!-- Beacon listener (rating && welcome) -->
        <receiver android:name=".controller.boot.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".controller.beacon.BeaconListenerService"
            android:enabled="true" />
        <!-- /Beacon listener (rating && welcome) -->

        <!-- Rate branches -->
        <activity
            android:name=".controller.beacon.rate.BranchRatingActivity"
            android:enabled="true"
            android:immersive="true" />
        <!-- /Rate branches -->

        <!-- Last transactions -->
        <activity
            android:name=".controller.transactions.LastTransactionsActivity"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:immersive="true"
            android:label="@string/last_transactions">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/last_transactions_voice_trigger" />
        </activity>
        <!-- /Last transactions -->

        <!-- Products Balances -->
        <activity
            android:name=".controller.balance.ProductsBalanceActivity"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:immersive="true"
            android:label="@string/get_list_products">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/balances_products_voice_trigger" />
        </activity>
        <!-- /Products Balances -->
    </application>

</manifest>
