<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uy.infocorp.banking.glass" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_ic"
        android:label="@string/app_name" >

        <!-- Dialog -->
        <activity android:name=".util.view.dialog.DialogActivity" />
        <!-- /Dialog -->


        <!-- Exchange rates -->
        <activity android:name=".controller.exchange.ExchangeRateMenuActivity" />

        <service
            android:name=".controller.exchange.ExchangeRateService"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:label="@string/title_activity_exchange_rate_service" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/exchange_rate_voice_trigger" />
        </service>
        <!-- /Exchange rates -->


        <!-- Benefits -->
        <activity android:name=".controller.benefit.BenefitsMenuActivity" />

        <service
            android:name=".controller.benefit.BenefitsService"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:label="@string/show_me_benefits" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/benefits_voice_trigger" />
        </service>
        <!-- Benefits -->


        <!-- Closest ATMs -->
        <activity android:name=".controller.atm.ClosestAtmMenuActivity" />

        <service
            android:name=".controller.atm.ClosestAtmService"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:label="@string/find_place_atm" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/find_place_voice_trigger" />
        </service>
        <!-- Closest ATMs -->

        <!-- Closest branches -->
        <activity android:name=".controller.branch.ClosestBranchMenuActivity" />

        <service
            android:name=".controller.branch.ClosestBranchService"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:label="@string/find_place_branch" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/find_place_voice_trigger" />
        </service>
        <!-- /Closest branches -->

    </application>

</manifest>
