<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uy.infocorp.banking.glass">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:name=".util.BankingApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_ic"
        android:label="@string/app_name">

        <!-- Authentication -->
        <activity android:name=".controller.auth.AuthenticationActivity"
            android:exported="true" />
        <!-- Authentication -->

        <!-- Dialog -->
        <activity android:name=".util.view.dialog.DialogActivity" />
        <!-- /Dialog -->

        <!-- Estimote beacon service -->
        <service
            android:name="com.estimote.sdk.service.BeaconService"
            android:exported="false" />
        <!-- /Estimote beacon service -->

        <!-- Exchange rates -->
        <activity android:name=".controller.exchange.ExchangeRateMenuActivity" />

        <service
            android:name=".controller.exchange.ExchangeRateService"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:label="@string/title_activity_exchange_rate_service">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/exchange_rate_voice_trigger" />
        </service>
        <!-- /Exchange rates -->

        <!-- Benefits -->
        <activity android:name=".controller.benefit.BenefitsMenuActivity" />

        <service
            android:name=".controller.benefit.BenefitsService"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:label="@string/show_me_benefits">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/benefits_voice_trigger" />
        </service>
        <!-- Benefits -->

        <!-- Closest ATMs -->
        <activity
            android:name=".controller.atm.ClosestAtmActivity"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:immersive="true"
            android:label="@string/find_place_atm">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/find_place_voice_trigger" />
        </activity>
        <!-- Closest ATMs -->

        <!-- Closest branches -->
        <activity
            android:name=".controller.branch.ClosestBranchActivity"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:immersive="true"
            android:label="@string/find_place_branch">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/find_place_voice_trigger" />
        </activity>
        <!-- /Closest branches -->

        <!-- Convert price -->
        <activity
            android:name=".controller.convertion.ConvertPriceActivity"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:immersive="true"
            android:label="@string/convert_price">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/convert_price_voice_trigger" />
        </activity>
        <!-- /Convert price -->

        <!-- Beacon listener (rating && welcome) -->
        <receiver android:name=".boot.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".controller.beacon.BeaconListenerService"
            android:enabled="true" />
        <!-- /Beacon listener (rating && welcome) -->

        <!-- Rate branches -->
        <activity
            android:name=".controller.beacon.rate.BranchRatingActivity"
            android:enabled="true"
            android:immersive="true" />
        <!-- /Rate branches -->

        <!-- Last transfers -->
        <activity
            android:name=".controller.account.transactions.LastTransfersActivity"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:immersive="true"
            android:label="@string/transfer" />
        <!-- /Last transfers -->

        <!-- Last movements -->
        <activity
            android:name=".controller.account.movements.LastMovementsActivity"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:immersive="true"
            android:label="@string/movement" />
        <!-- /Last movements -->

        <!-- Products Balances -->
        <activity
            android:name=".controller.account.ProductsBalanceActivity"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:immersive="true"
            android:label="@string/get_list_products">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/balances_products_voice_trigger" />
        </activity>
        <!-- /Products Balances -->

        <!-- Transfer own accounts -->
        <activity
            android:name=".controller.transfer.own.TransferOwnAccountsActivity"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:immersive="true"
            android:label="@string/transfer_own_account">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/transfer_voice_trigger" />
        </activity>
        <!-- /Transfer own accounts -->

        <!-- Transfer third party -->
        <activity
            android:name=".controller.transfer.third.TransferThirdPartyAccountsActivity"
            android:enabled="true"
            android:icon="@drawable/logo_ic"
            android:immersive="true"
            android:label="@string/transfer_third_party_account">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/transfer_voice_trigger" />
        </activity>
        <!-- /Transfer third party -->

    </application>
</manifest>